%h1 Password Recovery
  
%p
  If you have forgotten your Password, please enter your email address below. 
  %br/
  You will be sent an email with new login information.
      
  - form_for :user, @user, :url => forgot_password_path do |f|
    = f.text_field :email, :label => 'Your Email:'   
    = f.submit 'Recover Username/Password', link_to('Cancel', login_path)