<p>Hi,</p>

<p>Your account has been set up.</p>

<p>To verify your email address so that you may login, please click <%= link_to 'here', verify_email_url(@user.email_validation_key) %>.</p>

<p>Thanks</p>