Hi,

A new password was requested for this email address.

Your new password is: <b><%= @user.password %></b> 

To login go to: <%= login_url %>.
Once you have logged in, you can edit your profile and change your password to something you can easily remember.

Thanks
