<p>Hi,</p>

<p>A new password was requested for this email address.</p>

<p>Your new password is: <b><%= @user.password %></b> </p>

<p><%= link_to 'Click here to login', login_url %>.</p>
<p>Once you have logged in, you can edit your profile and change your password to something you can easily remember.</p>

<p>Thanks</p>
